extends /node_modules/scp-ng-gulp/resources/pug/list-page
include /node_modules/scp-ng-gulp/resources/pug/mixins/form
include /node_modules/scp-ng-gulp/resources/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="pkg.rdns.admin.ptr.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('ptr-create-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    ptr-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    ptr-table.border-top-table
    list-footer

block bottom-left
  +create-form("{{ 'pkg.rdns.admin.ptr.form.TITLE' | translate }}", 'ptr-create-form')
    ptr-list-form(form="vm.create")

  form(ng-submit="vm.import.submit()")
    +panel("pkg.rdns.admin.ptr.import.TITLE")
      .panel-body
        +label("{{ 'pkg.rdns.admin.ptr.import.file.LABEL' | translate }}", 'file')
          input(
            type="file"
            ngf-select
            ng-model="vm.import.file"
            ng-change='vm.import.file.progress=0'
          )
          uib-progressbar(max="100" value='vm.import.file.progress' ng-if="vm.import.file")
            span(ng-bind='vm.import.file.progress+\'%\'')
      .panel-footer.clearfix
        input.btn.btn-primary.pull-right(type="submit")

block bottom-right
  logs(
    heading="PTR Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
