doctype html
include /node_modules/scp-ng-gulp/resources/pug/mixins/form

.form-horizontal
  .form-group.row(
    ng-repeat="ptr in ptrListForm.ptrs"
  )
    .col-xs-6
      input.form-control(
        placeholder="{{ 'pkg.rdns.admin.ptr.dashboard.input.IP.PLACEHOLDER' | translate }}"
        ng-model="ptr.ip"
        ng-change="ptrListForm.addRow(ptr, $index)"
      )
    .col-xs-6
      input.form-control(
        placeholder="{{ 'pkg.rdns.admin.ptr.dashboard.input.PTR.PLACEHOLDER' | translate }}"
        ng-model="ptr.ptr"
        ng-change="ptrListForm.addRow(ptr, $index)"
      )
